.scroll-pane {
   -fx-background: #1E1E1E;
   -fx-background-color: #1E1E1E;
}

.scroll-bar {
    -fx-background-color: #121212; /* Cor de fundo da barra de rolagem */
}

.scroll-bar .thumb {
    -fx-background-color: #E0E0E0; /* Cor do botão de rolagem (thumb) */
}

.scroll-pane > .corner {
    -fx-background-color: #1E1E1E;
}
.label {
	-fx-text-fill: #E0E0E0;
}

.text-id {
	-fx-fill: #E0E0E0;
}
